@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@300;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Lato', sans-serif, 'Open Sans';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position:relative;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 25px;
    align-items: center;
    font-size: 20px;
    background-color: antiquewhite;
}

.nav{
    display: flex;
    gap: 30px;
}

a{
    text-decoration: none;
    color: black;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px var(--shadow-color);
    gap: 20px;
  }  

.table-block{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 20vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px var(--shadow-color);
}

.records{
    width: 100%;
    user-select: none;
    text-align: left;
}

.records th{
    height: 50px;
    background-color: var(--primary-color);
    padding-left: 20px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}
.records td{
    height: 50px;
    padding-left: 20px;
}

.records th:last-child,
.records td:last-child{
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.records tr:hover{
    background-color: var(--secundary-color);
}

@media(max-width:480px){
    .records{
        border-spacing: 5px;
    }
    .records thead{
        display:none;
    }
    .records tr{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
    .records td:not(:first-child){
        display:flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .records td{
        margin:10px 0;
    }

    .records tr:hover{
        background-color: inherit;
    }
}


@media (max-width:480px){
    header{
        position:fixed;
        width:100%;
    }
    .header-title{
        font-size: 1.5rem;
    }
  
    main{
        padding: 0;
        margin: 20px 0 0 0;
        width:100%;
        box-shadow: none;
    }
  }